@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
    box-sizing: border-box;
    margin: 0;
    background-color: lightgray;
    font-family: "Roboto Slab", serif;
    color: #555555;
}

#main {
    background-color: lightgray;
}

#logo {
    padding: 20px 20px 20px 20px;
}

#logo img {
    width: 40px;
    height: 40px;
}

.formField {
    background-color: lightgray;
    padding: 50px 100px;
    border-top: 10px solid navy;
}

label,
input {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
}

input {
    margin-bottom: 22px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding-left: 5px;
    outline: none;
    background-color: transparent;
}

button {
    display: block;
    padding: 20px;
    border: none;
    background-color: navy;
    color: white;
    line-height: 16px;
    font-family: "Roboto Slab", serif;
}

p {
    padding: 20px;
}

h1,
h2 {
    padding-left: 20px;
}

h2 {
    padding-top: -20px;
}

.profile-corner {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 80px;
    height: 80px;
}

.profile-corner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    margin-top: 0px;
}

.uploader {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300px, -200px);
    width: 600px;
    height: 400px;
    z-index: 10;
    padding: 20px;
}

.uploader_wrapper::before {
    content: "";
    background: rgba(51, 51, 51, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.close {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.profile-bio {
    padding: 20px;
}

.profile-bio p {
    padding: 0px;
}

.profile-bio button {
    display: inline;
    margin: 10px;
}

.profile-bio textarea {
    display: block;
    width: 200px;
}

.profile-search-results-wrap {
    display: block;
    padding-left: 20px;
}

.profile-search-results-wrap img {
    display: inline;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 600px;
    transform: translateY(20px);
}

.profile-search-results-wrap p {
    display: inline;
}

.profile-search-input {
    margin: 20px;
    width: 80%;
}

.chat .message {
    padding-left: 20px;
}

/*
.message-wrap {
    height: 200px;
    overflow-y: scroll;
}
*/

.message-input {
    margin: 20px;
    width: 80%;
}

.message-button-send {
    margin-left: 20px;
}

.navigation {
    display: inline;
    margin-left: 20px;
    margin-bottom: 40px;
}

.navigation a {
    padding-right: 25px;
    font-size: 30px;
}

.wantFriend {
    margin-left: 20px;
}

.friend {
    margin-left: 20px;
}

.profile-img {
    margin-left: 20px;
    margin-top: 40px;
}

.button-friend-request {
    margin: 20px;
}

.button-friend-accept {
    margin-left: 0px;
    margin-bottom: 40px;
    margin-top: 10px;
    display: inline;
    margin-left: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: navy;
}

a:visited {
    color: navy;
}

.profile-img-chat {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 300px;
    margin-right: 10px;
    transform: translateY(6px);
}

/* private msg part ----->  */
.button-private-message {
    display: inline;
    margin-left: 20px;
}

.private-message-wrapper {
    margin-left: 20px;
    width: 80%;
}

.private-message-container {
    list-style-type: none;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    padding-left: 0px;
}

.private-message-full {
    width: 100%;
    margin-bottom: 10px;
}

.profile-img-pm {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 300px;
    margin-right: 10px;
    transform: translateY(6px);
}

.chat-textarea {
    background-color: #fff;
    margin-left: 20px;
    margin-bottom: 22px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding-left: 5px;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 80%;
}
