.sv-root-modern .sv-container-modern__title {
    color: navy;
}

.sv-root-modern .sv-footer__complete-btn {
    background-color: navy;
    border-radius: 0px;
}

input,
label {
    margin: auto;
    width: auto;
    display: inline;
}

h4 {
    padding-left: 20px;
}

.small span {
    padding-left: 20px;
}
